/* Smaller desktop size that is exact pixel width to our figma compositions this is more just incase inbetweener from larger desktops to tablet*/
@media only screen and (max-width:1440px){
    /* INDEX/HOMEPAGE */
    .lowerimage {
        margin-top: 15%;
        margin-left: -121%;
        width: 108%;
    }
    .sectionupper-text {
        padding-left: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-right: 65%;
    }
    .sectionbglighttop {
        width: 930px;
        height: 450px;
        margin-top: 15%;
        margin-left: 5%;
    }
    .lowertext{
        width: 80%;
        margin-left: -17%;
    }
    .charcoalbg {
        height: 65%;
    }
    .lowertitle {
        margin-left: -17%;
    }
    .bigbutton3 {
        margin-left: -17%;
    }
    .upperimage_2029 {
        padding-top: 31%;
        margin-bottom: 5%;
    }

    /* ABOUT US */
    .darkh3quote{
        margin-left: -15%;
    }
    .uppertitlelight{
        font-size: 52px;
    }
    .uppertextlight{
        width: 450px;
    }
    .lowertitledark{
        font-size: 52px;
        margin-left: 1%;
    }
    .lowertextdark{
        margin-left: 1%;
        width: 75%;
    }
    .sectionbglightbottom{
        margin-left: 64%;
    }
    .lowerimage2 {
        margin-left: -123%;
    }

    /* WHATS ON */
    .awardstitle{
        margin-left: 13%;
    }
    .awardstext{
        margin-left: 13%;
    }
    .whatsontitlelight {
        width: 72%;
    }
}
@media only screen and (max-width:1020px) {
    /* INDEX/HOMEPAGE */
    .live-issues-wrap{
        margin-top: -300px;
    }
    .live-issues-wrap .row{
        flex-direction: column;
        gap: 12px;
        align-items: center;
    }
    .bigbuttonWH {
        margin-left: 15%;
        margin-right: 15%;
        padding: 5px 54px;
    }
    .sectionlower-text {
        margin-top: 126%;
        margin-left: -9%;
    }
    .lowertitle {
        margin-top: 12%;
        margin-left: -11%;
    }
    .lowerimage {
        margin-top: 26%;
        width: 185%;
    }
    .whyhistorymatterstitle {
        margin-left: -24%;
    }
    .smallbutton2 {
        margin-left: -19%;
    }
    .sectionbglighttop {
        margin-left: -15%;
        margin-bottom: 60%;
    }
    .lowertext {
        width: 80%;
        margin-left: -11%;
    }
    .bigbutton3 {
        margin-left: -11%;
    }
    .liveissuesimg {
        width: 120%;
        margin-left: -12%;
    }
    .charcoalbg {
        height: 74%;
    }

    /* ABOUT US */
    .aboutuscoverimage{
        width: 500px;
    }
    .darkh3quote{
        font-size: 52px;
    }
    .darkh3{
        font-size: 52px;
    }
    .upperimage{
        margin-top: -110%;
        margin-right: 40%;
        width: 130%;
        padding-top: 158%;
    }
    .upperimage_2029 {
        margin-top: -110%;
        margin-right: 40%;
        width: 130%;
        padding-top: 205%;
    }
    .sectionbgdarktop{
        margin-left: -15%;
        height: 350px;
        width: 730px;
    }
    .uppetitlelight{
        font-size: 48px;
    }
    .uppertextlight{
        font-size: 14px;
        width: 90%;
    }
    .lowerimage2{
        margin-left: -135%;
        width: 130%;
    }
    .sectionbglightbottom{
        height: 350px;
        width: 700px;
        margin-left: 40%;
        margin-top: 25%;
    }
    .lowertitledark{
        font-size: 52px;
        margin-top: 2%;
        margin-left: 22%;
        width: 73%;
    }
    .lowertextdark{
        font-size: 14px;
        margin-left: 22%;
    }
    /* WHATS ON */
    .whatsontitlelight {
        font-size: 48px;
        width: 189%;
        margin-left: 14%;
    }
    .whatsontitledark{
        font-size: 48px;
    }
    .whatsontextdark{
        font-size: 16px;
    }
    .awardsimg{
        width: 500px;
        margin-left: -15%;
    }
    .awardstitle{
        font-size: 48px;
        margin-left: 15%;
    }
    .awardstext {
        font-size: 16px;
        margin-left: 15%;
        width: 106%;
    }
    .listedawards{
        margin-top: 25%;
    }
    .awardslisttext{
        font-size: 14px;
    }
    /* CONTACT US */
    .contactlanding {
        margin-bottom: -3%;
    }
    form#wpforms-form-862 {
        margin-bottom: -3%;
    }
}
/* Tablet size */
@media only screen and (max-width:770px) {
    .navbar-collapse {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-align: center;
        align-items: center;
        display: flex;
        justify-content: flex-end;
    }
/* INDEX/HOMEPAGE */
    .custom-container{
        margin-left: 50px;
        margin-right: 50px;
    }
    .liveissuestitle {
        font-size: 40px;
        margin-top: 35px;
    }
    .livep {
        margin-left: 15%;
        font-size: 14px;
    }
    .charcoalbg {
        padding-bottom: 0;  
        height: 45%;
    }
    .bigbutton2 {
        display: inline-block;
        border-radius: 12px;
        margin-left: 37px;
        margin-top: 42px;
    }
    .bigbuttonWH {
        margin-left: 51px;
    }
    .buttontext {
        font-size: 18px;
        font-weight: bolder;
        white-space: nowrap;
    }
    .smallbutton2 {
        margin-left: 2%;
    }
    h1 {
        font-size: 60px;
        font-weight: bold;
        line-height: 60px;
    }
    .image-livebox {
        float: right;
        position: absolute;
        bottom: 0;
    }
    .livebox{
        margin-top: 2%;
    }
    .lowerimage {
        margin-top: 10%;
        position: absolute;
        width: 100%;
        right: 95%;
    }
    .sectionbgdarkbottom {
        width: 650px;
        height: 80%;
        margin-left: 20%;
    }
    .sectionlower-text {
        margin-bottom: 10%;
        margin-top: 23%;
    }
    .lowertitle {
        margin-left: 38%;
        font-size: 40px;
        width: 60%;
    }
    .lowertext {
        font-size: 14px;
        margin-top: 3%;
        margin-left: 38%;
        width: 60%;
    }
    .bigbutton3 {
        border-radius: 12px;
        margin-left: 38%;
        padding-right: 20px;
        padding-left: 20px;
        margin-bottom: 2%;
    }
    .buttontext{
        font-size: 14px;
    }
    .sectionbglighttop {
        width: 629px;
        height: 310px;
        margin-top: 17%;
        margin-bottom: 100px;
        margin-left: 5%;
    }
    .uppertitle{
        font-size: 40px;
    }
    .uppertext {
        text-align: left;
        font-size: 14px;
        padding-bottom: 5%;
        padding-right: 80px;
    }
    .custom-container{
        margin-left: 0;
        margin-right: 0;
    }
    h5{
        font-size: 150px;
    }
    .whyhistorymattersbg{
        min-width: 768px;
    }
    .whyhistorymatterstitle{
        text-align: left;
        margin-left: 2%;
        margin-top: 20px;
    }
    .upperimage_2029 {
        padding-top: 160%;
        width: 105%;
    }

    /* ABOUT US */
    .aboutuscoverimage {
        width: 150%;
    }
    .darkh3quote {
        font-size: 40px;
        text-align: center;
        margin-left: -7%;
        padding-top: 3%;
        padding-bottom: 3%;
    }
    .darkh3{
        font-size: 48px;
        margin-top: 7%;
    }
    .profilename{
        font-size: 12px;
    }
    .profiletitle{
        font-size: 12px;
    }
    .committee-text{
        font-size: 12px;
        width: 100%;
        margin-left: 2%;
    }
    .uppertitlelight{
        font-size: 40px;
        width: 90%;
    }
    .uppertextlight{
        width: 109%;
        font-size: 12px;
    }
    .sectionbgdarktop{
        margin-left: 1%;
        height: 360px;
        width: 500px;
    }
    .upperimage {
        width: 100%;
        margin-top: -107%;
    }
    .lowerimage2 {
        margin-left: -109%;
        width: 110%;
        margin-top: -6%;
    }
    .sectionbglightbottom{
        height: 350px;
        width: 500px;
        margin-left: 50%;
        margin-top: 5%;
    }
    .lowertitledark {
        font-size: 40px;
        margin-left: 25%;
        width: 88%;
    }
    .lowertextdark {
        font-size: 12px;
        margin-left: 26%;
        width: 68%;
        margin-top: 0%;
    }
    /* WHATS ON */
    .whatsontitlelight{
        font-size: 40px;
    }
    .whatsontextlight{
        font-size: 16px;
    }
    .whatsoncover{
        height: 400px;
    }
    .whatsontitledark{
        font-size: 38px;
    }
    .whatsontextdark{
        font-size: 14px;
    }
    .annuallectureimg{
        height: 242px;
    }
    .awardsimg{
        height: 250px;
        width: 350px;
        margin-left: 0%;
    }
    .awardstitle{
        font-size: 38px;
        margin-top: 15%;
        margin-left: 5%;
    }
    .awardstext {
        font-size: 14px;
        margin-left: 5%;
        width: 88%;
    }
    .listedawards{
        width: 175px;
    }
    .awardslisttext{
        font-size: 12px;
    }
    .smallbuttontext{
        font-size: 9px;
    }
    /* LIVE ISSUES */
    .titleliveissues{
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 0;
    }
    p{
        font-size: 12px;
    }
    .image1{
        padding-bottom: 40px;
        padding-top: 2%;
    }
    .articletitles{
        font-size: 28px;
        margin-top: 10%;
        margin-bottom: 5%;
    }
    .articletitleslight{
        font-size: 28px;
        margin-top: 10%;
        margin-bottom: 5%;
        margin-left: -10%;
    }
    .liveissuesnumber{
        font-size: 128px;
        margin-left: -5%;
        margin-top: 5%;
    }
    .liveissuesnumberlight{
        font-size: 128px;
        margin-left: -5%;
    }
    .liveissuesparagraph{
        margin-top: 10%;
        margin-bottom: 10%;
        width: 100%;
    }
    .liveissuesparagraphlight{
        margin-top: 10%;
        margin-bottom: 10%;
        width: 120%;
        margin-left: -5%;
    }
    .pastadvocacy{
        font-size: 40px;
        line-height: 40px;
    }
    .bigbutton2{
        margin-top: 10px;
    }
    .image2{
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .buttontext{
        font-size: 12px;
    }
    /* CONTACT US */
    .contactlanding {
        margin-bottom: -25px;
    }
    form#wpforms-form-862 {
        margin-bottom: -4%;
    }}
    

/* Mobile size, which is relatively larger for newer phones */
@media only screen and (max-width:510px){
    /* INDEX/HOMEPAGE */
    .navbar-collapse {
        margin-top: -7%;
    }
    h2 {
        margin-left: 11%;
        margin-top: -7%;
        padding-top: 15%;
    }
    h1 {
        margin-left: 11%;
    }
    .for {
        margin-left: 20%;
    }
    .history {
        margin-left: 30%;
    }
    .whyhistorymatterstitle{
        text-align: left;
        margin-left: 2%;
        margin-top: 20px;
    }
    .bigbutton1 {
        margin-left: 20%;
        margin-top: 1%;
    }
    .covertitle-container{
        margin: 0%;
    }
    .coverimage {
        position: absolute;
        margin-top: 412px;
        width: 495px;
        margin-left: 3px;
        margin-top: 15px;
    }
    .creambg{
        background-size: cover;
        padding-bottom: 450px;
        margin-top: 25px;
    }
    .livebox{
        margin-top: 12%;
        margin-left: -12%;
    }
    .image-livebox{
        float:right;
        position: absolute; 
        right: 0; 
        bottom: 0;
    }
    .liveissuestitle {
        font-size: 40px;
        margin-left: 5%;
    }
    .livep {
        margin-left: 5%;
        font-size: 14px;
        padding-bottom: 2%;
    }
    .bigbuttonWH {
        margin-left: 25px;
        margin-top: 0%;
        margin-bottom: 2%;
    }
    .lowerimage {
        right: 0%;
        margin-top: -8%;
    }
    .sectionlower-text {
        padding-left: 0%;
        margin-left: -22%;
        margin-top: 45%;
    }
    .lowertitle {
        margin-left: 20%;
    }
    .lowertext{
        margin-left: 20%;
        padding-bottom: 1%;
    }
    .bigbutton3 {
        margin-top: 2%;
        margin-left: 20%;
        margin-bottom: 0;
    }
    .sectionbglighttop {
        margin-left: -3%;
        margin-bottom: 0%;
    }
    .upperimage {
        width: 110%;
        margin-left: -2%;
        margin-top: -160%;
        margin-right: 0;
    }
    .uppertitle{
        padding-top: 5%;
        padding-left: 3%;
    }
    .uppertext {
        font-size: 14px;
        padding-bottom: 3%;
        padding-left: 3%;
        max-width: 84%;
    }
    .sectionupper-text {
        padding-left: 0%;
        padding-top: 0%;
        padding-bottom: 0%;
        padding-right: 0%;
    }
    .bigbutton1 {
        margin-left: 12%;
        margin-top: 1%;
    }
    .whyhistorymattersbg{
        min-width: 510px;
        margin-top: 70%;
    }
    .liveissuesimg {
        width: 90%;
        margin-left: 5%;
    }
    .upperimage_2029 {
        padding-top: 108%;
    }
    .charcoalbg {
        padding-bottom: 0;
        height: 59%;
    }
    input#navbar-search {
        margin: 0 auto;
    }
    .signinbutton {
        margin-top: 69.5%;
        margin-left: -18%;
        padding: 7px 63px;
    }
    .smallbuttontext {
        font-size: 9px;
        margin-left: -65%;
    }
    .searchicon {
        margin-top: 50%;
    }
    .no-gutters {
        margin-right: 91%;
        margin-left: -159%;
        margin-top: 229%;
    }

    /* SEARCH */
    a.read-more-link {
        position: absolute;
        right: 30%;
        background-color: var(--Ochre);
        padding: 10px 20px;
        display: inline-block;
        border-radius: 12px;
        color: white;
        text-transform: uppercase;
        margin-top: -6%;
    }

    /* ABOUT US */
    .darkh3quote {
        max-width: 99%;
        margin-left: 1%;
    }
    .uppertitlelight {
        margin-left: 3%;
    }
    .uppertextlight {
        margin-left: 3%;
        width: 85%;
    }
    .lowerimage2 {
        margin-left: -3%;
        width: 81%;
        margin-top: -232%;
    }

    /* WHATS ON */
    .whatsoncover{
        height: 400px;
        margin-top: 5%;
    }
    .whatsontitlelight{
        margin-top: 5%;
    }
    .annuallectureimg{
        margin-left: 10%;
        width: 400px;
        margin-top: 5%;
    }
    .awardsimg{
        width: 400px;
        margin-left: 0;
        margin-top: -11%;
    }
    .awardstitle {
        text-align: center;
        margin-left: -4%;
    }
    .awardstext {
        margin-left: 6%;
        max-width: 88%;
        text-align: center;
        padding-top: 5%;
    }
    .listedawards{
        margin-top: 5%;
    }
    .awardssubtitle{
        margin-top: 2%;
    }
    .awardslisttext{
        margin-top: 1%;
        margin-bottom: 3%;
        margin-right: 20%;
        margin-left: 20%;
        text-align: center;
    }
    .smallbutton4{
        margin-bottom: 6%;
        margin-top: 1%;
        margin-left: 35%;
    }

    /* LIVE ISSUES */
    .titleliveissues{
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 0;
    }
    p{
        font-size: 12px;
        padding-bottom: 5%;
    }
    .image1{
        padding-bottom: 40px;
        padding-top: 2%;
    }
    .articletitles{
        margin-top: 5%;
        margin-bottom: 2%;
    }
    .articletitleslight{
        margin-top: 5%;
        margin-bottom: 2%;
        margin-left: 0%;
    }
    .liveissuesnumber{
        margin-left: -5%;
        margin-top: 0;
    }
    .liveissuesnumberlight{
        margin-left: -5%;
    }
    .smallbutton{
        margin-top: 0;
    }
    .liveissuesparagraph{
        margin-top: 2%;
        margin-bottom: 5%;
        width: 100%;
        padding-bottom: 0;
    }
    .liveissuesparagraphlight{
        margin-top: 2%;
        margin-bottom: 5%;
        width: 100%;
        padding-bottom: 0;
    }
    .pastadvocacy{
        font-size: 40px;
        line-height: 40px;
    }
    .bigbutton2{
        margin-top: 0;
        margin-left: 0;
    }
    .image2{
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .buttontext{
        font-size: 12px;
    }
    .liveissuesimage{
        padding-bottom: 3%;
    }
    .number{
        order: 1;
    }
    .images{
        order: 2;
    }
    .information{
        order: 3;
    }
    /* CONTACT US */
    .contacttitle{
        margin: 0;
    }
    .contactsrow{
        margin-left: 0;
        margin-top: 0;
    }
    .contacttitle{
        font-size: 58px;
        text-align: center;
        margin-left: 0;
        line-height: normal;
    }
    .contactemail{
        margin-right: 0;
        margin-left: 0;
        padding-bottom: 5%;
    }
    .email {
        margin-right: -238%;
        padding-top: 13%;
    }
    .emaillink{
        text-align: center;
        margin-left: 87%;
    }
    .contactsocials{
        margin: 0;
        padding-bottom: 8%;
    }
    .socials{
        margin-left: -14%;
        text-align: center;
        margin-top: 137%;
        padding-bottom: 18%;
    }
    .contactfacebook{
        margin-left: 2%;
    }
    .contacttwitter {
        margin-left: 16%;
    }
    .contactaddress{
        margin: 0;
    }
    div.wpforms-container-full .wpforms-form .wpforms-description {
        padding: 13%;
        margin-left: -1%;
        margin-top: -8%;
        margin-bottom: -12%;
    }
    .wpforms-container .wpforms-form * {
        word-break: break-word;
        box-sizing: border-box;
        margin-left: -30%;
    }
    div#wpforms-862-field_4-container {
        margin-left: 30%;
    }
    div#wpforms-862-field_5-container {
        margin-left: 30%;
    }
    div#wpforms-862-field_1-container {
        margin-left: 30%;
    }
    div#wpforms-862-field_3-container {
        margin-left: 30%;
    }
    input#wpforms-862-field_4 {
        max-width: 90%;
    }
    input#wpforms-862-field_5 {
        max-width: 90%;
    }
    input#wpforms-862-field_1 {
        max-width: 90%;
    }
    input#wpforms-862-field_3 {
        max-width: 90%;
    }
    button#wpforms-submit-862 {
        margin-left: -50px;
        margin-top: 5%;
    }
    div.wpforms-container-full .wpforms-form .wpforms-title {
        margin-bottom: 4%;
        line-height: 100%;
        margin-left: -3%;
        padding-top: 7%;
    }
    div#wpforms-862-field_2-container {
        margin-left: 30%;
    }
    textarea#wpforms-862-field_2 {
        padding-right: 115%;
    }
    .contactlanding {
        padding-bottom: 90%;
        margin-bottom: -5%;
    }
    .address {
        font-weight: bold;
        text-align: center;
        margin-top: 81%;
        margin-left: -251%;
    }
    p.addresstext {
        margin-left: -246%;
    }
    form#wpforms-form-862 {
        margin-bottom: -5%;
    }
}