@media only screen and (max-width: 768px) {
    .navbar-collapse {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-align: center;
        align-items: center;
        display: flex;
        justify-content: flex-end;
    }
}