/* For extremely large monitors desktop setup */
@media only screen and (max-width:2500px){
    /* INDEX/HOME */
    /* ABOUT US */
}
/* Smaller desktop size that is exact pixel width to our figma compositions this is more just incase inbetweener from larger desktops to tablet*/
@media only screen and (max-width:1440px){
    /* INDEX/HOMEPAGE */
    .charcoalbg {
        padding-bottom: 350px;
    }
    .lowerimage {
        margin-top: 15%;
        margin-left: -110%;
    }
    .sectionupper-text {
        padding-left: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        padding-right: 65%;
    }
    .sectionbglighttop {
        width: 930px;
        height: 450px;
        margin-top: 15%;
        margin-left: 5%;
    }
    .lowertext{
        width: 80%;
    }
    /* ABOUT US */
    .darkh3quote{
        margin-left: -15%;
    }
    .uppertitlelight{
        font-size: 52px;
    }
    .uppertextlight{
        width: 450px;
    }
    .lowertitledark{
        font-size: 52px;
        margin-left: 27%;
    }
    .lowertextdark{
        margin-left: 27%;
        width: 75%;
    }
    .sectionbglightbottom{
        margin-left: 55%;
    }
    /* WHATS ON */
    .awardstitle{
        margin-left: 8%;
    }
    .awardstext{
        margin-left: 8%;
    }
}
@media only screen and (max-width:1020px) {
    /* INDEX/HOMEPAGE */
    .live-issues-wrap{
        margin-top: -300px;
    }
    .live-issues-wrap .row{
        flex-direction: column;
        gap: 12px;
        align-items: center;
    }
    /* ABOUT US */
    .aboutuscoverimage{
        width: 500px;
    }
    .darkh3quote{
        font-size: 52px;
    }
    .darkh3{
        font-size: 52px;
    }
    .upperimage{
        margin-top: 30%;
        margin-right: 40%;
        width: 130%;
    }
    .sectionbgdarktop{
        margin-left: -15%;
        height: 350px;
        width: 730px;
    }
    .uppetitlelight{
        font-size: 48px;
    }
    .uppertextlight{
        font-size: 14px;
        width: 90%;
    }
    .lowerimage2{
        margin-left: -135%;
        width: 130%;
    }
    .sectionbglightbottom{
        height: 350px;
        width: 700px;
        margin-left: 40%;
    }
    .lowertitledark{
        font-size: 52px;
        margin-top: 2%;
        margin-left: 22%;
    }
    .lowertextdark{
        font-size: 14px;
        margin-left: 22%;
    }
    /* WHATS ON */
    .whatsontitlelight{
        font-size: 48px;
    }
    .whatsontitledark{
        font-size: 48px;
    }
    .whatsontextdark{
        font-size: 16px;
    }
    .awardsimg{
        width: 500px;
        margin-left: -15%;
    }
    .awardstitle{
        font-size: 48px;
        margin-left: 10%;
    }
    .awardstext{
        font-size: 16px;
        margin-left: 10%;
        width: 110%;
    }
    .listedawards{
        margin-top: 25%;
    }
    .awardslisttext{
        font-size: 14px;
    }
}
/* Tablet size */
@media only screen and (max-width:770px) {
    .navbar-collapse {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-align: center;
        align-items: center;
        display: flex;
        justify-content: flex-end;
    }
/* INDEX/HOMEPAGE */
    .coverimage {
        max-width: 93%;
        padding-top: 10%;
    }
    .custom-container{
        margin-left: 50px;
        margin-right: 50px;
    }
    .liveissuestitle {
        font-size: 40px;
        margin-top: 35px;
    }
    .livep {
        margin-left: 15%;
        font-size: 14px;
    }
    .charcoalbg {
        padding-bottom: 0;  
        height: 60%;
    }
    .bigbutton2 {
        display: inline-block;
        border-radius: 12px;
        margin-left: 37px;
        margin-top: 42px;
    }
    .bigbuttonWH {
        margin-left: 36px;
    }
    .buttontext {
        font-size: 18px;
        font-weight: bolder;
        white-space: nowrap;
    }
    h1 {
        font-size: 60px;
        font-weight: bold;
        line-height: 60px;
    }
    .image-livebox {
        float: right;
        position: absolute;
        bottom: 0;
    }
    .livebox{
        margin-top: 5%;
    }
    .lowerimage {
        margin-top: 136px;
        position: absolute;
        width: 359px;
        right: 95%;
    }
    .sectionbgdarkbottom {
        height: 320px; 
        margin-bottom: 15%;
        margin-left: 24%;
        margin-top: 60%;
    }
    .lowertitle {
        margin-left: 30%;
        margin-top: -75%;
        font-size: 40px;
    }
    .lowertext {
        text-align: left;
        font-size: 14px;
        margin-left: 30%;
        padding-right: 0;
        width: 135%;
    }
    .bigbutton3 {
        padding: 15px 60px;
        display: inline-block;
        border-radius: 12px;
        margin-left: 80px;
        padding-right: 20px;
        padding-left: 20px;
    }
    .buttontext{
        font-size: 14px;
    }
    .sectionbglighttop {
        width: 629px;
        height: 310px;
        margin-top: 17%;
        margin-bottom: 100px;
    }
    .uppertitle{
        font-size: 40px;
    }
    .uppertext {
        text-align: left;
        font-size: 14px;
        padding-bottom: 5%;
        padding-right: 80px;
    }
    .upperimage {
        margin-top: 155px;
        position: absolute;
        width: 359px;
        right: -31%;
    }
    .custom-container{
        margin-left: 0;
        margin-right: 0;
    }
    h5{
        font-size: 150px;
    }
    .whyhistorymattersbg{
        min-width: 768px;
    }
    .whyhistorymatterstitle{
        text-align: left;
        margin-left: 2%;
        margin-top: 20px;
    }
    /* ABOUT US */
    .aboutuscoverimage{
        width: 700px;
    }
    .darkh3quote{
        font-size: 40px;
        text-align: center;
        margin-left: 1%;
        padding-top: 3%;
        padding-bottom: 3%;
    }
    .darkh3{
        font-size: 48px;
        margin-top: 7%;
    }
    .profilename{
        font-size: 12px;
    }
    .profiletitle{
        font-size: 12px;
    }
    .committee-text{
        font-size: 12px;
        width: 100%;
        margin-left: 2%;
    }
    .uppertitlelight{
        font-size: 40px;
        width: 300%;
    }
    .uppertextlight{
        width: 230%;
        font-size: 12px;
    }
    .sectionbgdarktop{
        margin-left: 1%;
        height: 360px;
        width: 570px;
    }
    .upperimage {
        margin-top: -35%;
        width: 360px;
        right: -42%;
    }
    .lowerimage2{
        margin-left: 0;
        width: 50%;
        margin-top: -65%;
    }
    .sectionbglightbottom{
        height: 350px;
        width: 500px;
        margin-left: 20%;
        margin-top: 5%;
    }
    .lowertitledark{
        font-size: 40px;
        margin-left: -105%;
        width: 150%;
    }
    .lowertextdark{
        font-size: 12px;
        margin-left: -20%;
        width: 130%;
    }
    /* WHATS ON */
    .whatsontitlelight{
        font-size: 40px;
    }
    .whatsontextlight{
        font-size: 16px;
    }
    .whatsoncover{
        height: 400px;
    }
    .whatsontitledark{
        font-size: 38px;
    }
    .whatsontextdark{
        font-size: 14px;
    }
    .annuallectureimg{
        height: 242px;
    }
    .awardsimg{
        height: 250px;
        width: 350px;
        margin-left: -25%;
    }
    .awardstitle{
        font-size: 38px;
        margin-top: 15%;
        margin-left: 5%;
    }
    .awardstext{
        font-size: 14px;
        margin-left: 5%;
        width: 120%;
    }
    .listedawards{
        width: 175px;
    }
    .awardslisttext{
        font-size: 12px;
    }
    .smallbuttontext{
        font-size: 9px;
    }
    /* LIVE ISSUES */
    .titleliveissues{
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 0;
    }
    p{
        font-size: 12px;
    }
    .image1{
        padding-bottom: 40px;
        padding-top: 2%;
    }
    .articletitles{
        font-size: 28px;
        margin-top: 10%;
        margin-bottom: 5%;
    }
    .articletitleslight{
        font-size: 28px;
        margin-top: 10%;
        margin-bottom: 5%;
        margin-left: -10%;
    }
    .liveissuesnumber{
        font-size: 128px;
        margin-left: -5%;
        margin-top: 5%;
    }
    .liveissuesnumberlight{
        font-size: 128px;
        margin-left: -5%;
    }
    .smallbutton{
        margin-top: 0;
        margin-left: 0;
    }
    .liveissuesparagraph{
        margin-top: 10%;
        margin-bottom: 10%;
        width: 120%;
    }
    .liveissuesparagraphlight{
        margin-top: 10%;
        margin-bottom: 10%;
        width: 120%;
    }
    .pastadvocacy{
        font-size: 40px;
        line-height: 40px;
    }
    .bigbutton2{
        margin-top: 10px;
    }
    .image2{
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .buttontext{
        font-size: 12px;
    }
}
/* Mobile size, which is relatively larger for newer phones */
@media only screen and (max-width:510px){
    /* INDEX/HOMEPAGE */
    h2 {
        margin-left: 1%;
        margin-top: -7%;
        padding-top: 15%;
    }
    h1 {
        margin-left: 1%;
    }
    .for {
        margin-left: 10%;
    }
    .history {
        margin-left: 20%;
    }
    .whyhistorymatterstitle{
        text-align: left;
        margin-left: 2%;
        margin-top: 20px;
    }
    .bigbutton1 {
        margin-left: 20%;
        margin-top: 1%;
    }
    .covertitle-container{
        margin: 0%;
    }
    .coverimage {
        position: absolute;
        margin-top: 412px;
        width: 495px;
        margin-left: 3px;
        margin-top: 0;
    }
    .creambg{
        background-size: cover;
        padding-bottom: 450px;
        margin-top: 25px;
    }
    .livebox{
        margin-top: 10%;
        margin-left: -12%;
    }
    .image-livebox{
        float:right;
        position: absolute; 
        right: 0; 
        bottom: 0;
    }
    .liveissuestitle {
        font-size: 40px;
        margin-top: 283px;
        margin-left: 5%;
    }
    .livep {
        margin-left: 5%;
        font-size: 14px;
    }
    .bigbuttonWH {
        position: absolute;
        right: -5px;
        top: 103%;
    }
    .lowerimage {
        top: -743px;
        position: absolute;
        width: 359px;
        right: -5%;
    }
    .sectionlower-text {
        padding-right: 150%;
        padding-left: 0%;
        margin-left: -48%;
        margin-top: 105%;
        height: 312px;
        margin-bottom: 86px;
    }
    .lowertitle {
        padding-right: 20%;
    }
    .bigbutton3 {
        margin-left: 150px;
        margin-top: 5%;
    }
    .sectionbglighttop {
        width: 629px;
        height: 440px;
        margin-top: 91%;
        margin-left: -54%;
        margin-bottom: 100px;
        padding-top: 23%;
    }
    .upperimage {
        margin-top: -243%;
        position: absolute;
        width: 359px;
        right: -12%;
    }
    .uppertitle {
        text-align: left;
        margin-left: 25%;
        margin-top: 8%;
    }
    .uppertext {
        text-align: left;
        font-size: 14px;
        padding-bottom: 5%;
        padding-right: 10px;
        margin-left: 15%;
    }
    .whyhistorymattersbg{
        min-width: 510px;
    }
    /* ABOUT US */
    /* WHATS ON */
    .whatsoncover{
        height: 400px;
        margin-top: 5%;
    }
    .whatsontitlelight{
        margin-top: 5%;
    }
    .annuallectureimg{
        margin-left: 10%;
        width: 400px;
        margin-top: 5%;
    }
    .awardsimg{
        width: 400px;
        margin-left: 0;
    }
    .awardstitle{
        text-align: center;
        margin-left: -2%;
    }
    .awardstext{
        margin-left: -8%;
    }
    .listedawards{
        margin-top: 5%;
    }
    .awardssubtitle{
        margin-top: 2%;
    }
    .awardslisttext{
        margin-top: 1%;
        margin-bottom: 3%;
        margin-right: 20%;
        margin-left: 20%;
        text-align: center;
    }
    .smallbutton4{
        margin-bottom: 2%;
        margin-top: 1%;
        margin-left: 35%;
    }
    /* LIVE ISSUES */
    .titleliveissues{
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 0;
    }
    p{
        font-size: 12px;
        padding-bottom: 5%;
    }
    .image1{
        padding-bottom: 40px;
        padding-top: 2%;
    }
    .articletitles{
        margin-top: 5%;
        margin-bottom: 2%;
    }
    .articletitleslight{
        margin-top: 5%;
        margin-bottom: 2%;
        margin-left: 0%;
    }
    .liveissuesnumber{
        margin-left: -5%;
        margin-top: 0;
    }
    .liveissuesnumberlight{
        margin-left: -5%;
    }
    .smallbutton{
        margin-top: 0;
        margin-left: 0;
    }
    .liveissuesparagraph{
        margin-top: 2%;
        margin-bottom: 5%;
        width: 100%;
        padding-bottom: 0;
    }
    .liveissuesparagraphlight{
        margin-top: 2%;
        margin-bottom: 5%;
        width: 100%;
        padding-bottom: 0;
    }
    .pastadvocacy{
        font-size: 40px;
        line-height: 40px;
    }
    .bigbutton2{
        margin-top: 0;
        margin-left: 0;
    }
    .image2{
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .buttontext{
        font-size: 12px;
    }
    .liveissuesimage{
        padding-bottom: 3%;
    }
    .number{
        order: 1;
    }
    .images{
        order: 2;
    }
    .information{
        order: 3;
    }
    /* CONTACT US */
    .contacttitle{
        margin: 0;
    }
    .contactsrow{
        margin-left: 0;
        margin-top: 0;
    }
    .contacttitle{
        font-size: 58px;
        text-align: center;
        margin-left: 0;
        line-height: normal;
    }
    .contactemail{
        margin-right: 0;
        margin-left: 0;
        padding-bottom: 5%;
    }
    .email{
        margin-right: 0;
    }
    .emaillink{
        text-align: center;
        margin-left: 28%;
    }
    .contactsocials{
        margin: 0;
        padding-bottom: 8%;
    }
    .socials{
        margin: auto;
        text-align: center;
    }
    .contactfacebook{
        margin-left: 40%;
    }
    .contacttwitter{
        margin-left: 2%;
    }
    .contactaddress{
        margin: 0;
    }
}