/* RULES THAT IS USED ACROSS ALL OR MULTIPLE HTML PAGES */
/* Colour Palette */
:root{
    --Beige: #F1EDE5;
    --LighterBlack: #3A3937;
    --Ochre: #C7892C;
    --Blue: #64A1B8;
}
/* Font-faces */
@font-face{
    font-family: "CaslonBold";
    src: url(/HCWA_Website/Font_File/Caslon/Adobe\ Caslon\ Pro\ Bold.ttf);
}
/* Custom-Container */
.custom-container{
    margin-left: 100px;
    margin-right: 100px;
}
.custom-navbar{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    padding: 0.5rem 1rem 
}
/* Live issues posts */
.livebox{
    background-color:var(--Beige);
    height: 830px;
    width: 375px;
    margin-top: -300px;
}
/* Background Colours */
.creambg
{
    background-color:var(--Beige);
    background-size: cover;
    padding-bottom: 120px;
    margin-top: 25px;
}
.charcoalbg
{
    background-color:var(--LighterBlack);
    height: 800px;
}
.footerbg
{
    background-color:var(--Ochre);
    background-size: cover;
}
/* Section Image and Content Overlap Boxes */
.sectionbglighttop
{
    background-color:var(--Beige);
    width: 930px;
    height: 450px;
}
.sectionbgdarktop
{
    background-color:var(--LighterBlack);
    width: 930px;
    height: 450px;
}
.sectionbglightbottom
{
    background-color:var(--Beige);
    width: 930px;
    height: 450px;
}
.sectionbgdarkbottom
{
    background-color:var(--LighterBlack);
    width: 930px;
    height: 450px;
}
/* IMAGES */
.socialmediaicons{
    padding: 2%;
    margin-top: auto;
    margin-bottom: auto;
}
.footerlogo{
    margin-top: auto;
    margin-bottom: auto;
}
.navbar-brand{
    margin-right: 20%;
}
/* Typography */
.nav-text{
    width: 120px;
    color: black;
    text-align: center;
}
.nav-linkfooter{
    color: white;
    margin-top: 5%;
}
h2{
    font-size: 20px;
    font-family: "CaslonBold";
    padding-top: 100px;
}
h3{
    font-family: adobe-caslon-pro, serif;
    font-size: 60px;
    font-weight: 700;
    font-style: normal;
    margin-top: 50px;
    color:white;
    text-align: center;
}
h4{
    font-family: adobe-caslon-pro, serif;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    color:var(--LighterBlack);
}
p{
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;

}
.footerdetails{
    text-align: center;
    color: white;
    padding-bottom: 2%;
}
.followus{
    text-align: center;
    color: white;
    padding-top: 1%;
    margin-left: 76%;
    margin-bottom: -1%;
}
/* Buttons */
.buttontext{    
    color: white;
    font-size: 24px;
    font-weight: bolder;
}
.smallbuttontext{
    color: white;
    font-size: 16px;
    font-weight: bolder;
}
.signinbutton{
    background-color:var(--Blue);
    font-weight: 500;
    text-align: center;
    font-size: 14px;
    padding: 10px 40px;
    display: inline-block;
    border-radius: 12px;
    margin-left: 3%;
}
.bigbutton1{
    background-color:var(--Ochre);
    padding: 15px 60px;
    display: inline-block;
    border-radius: 12px;
    color: white;
}
.bigbutton2{
    margin-left: 90px;
    background-color:var(--Ochre);
    padding: 15px 60px;
    display: inline-block;
    border-radius: 12px;
    color: white;
    margin-top: 8%;
}
.bigbutton3{
    margin-left: 100px;
    background-color:var(--Ochre);
    padding: 15px 60px;
    display: inline-block;
    border-radius: 12px;
    color: white;
}
.smallbutton{
    margin-top: 2em;
    margin-left: 1em;
    background-color:var(--Ochre);
    padding: 10px 40px;
    display: inline-block;
    border-radius: 12px;
    color: white;
}
.smallbutton2{
    margin-left: 31%;
    background-color:var(--Ochre);
    padding: 10px 40px;
    display: inline-block;
    border-radius: 12px;
    color: white;
}

/* RULES FOR SPECIFIC HTML PAGES THAT ISN'T USED ON MULTIPLE */

/* INDEX PAGE - JESS */
/* Container */
.livebox-image-container{
    width: 375px;
    height: 350px;
    position: relative;
}
/* Images */
.liveissuesimg{
    margin-top:-25px;
}
.image-livebox{
    float:right;
    position: absolute; 
    right: 0; 
    bottom: 0;
}
.lectureimage{
    margin-top: 75px;
    margin-bottom: 75px;
    height: 550px;    
}
.whyhistorymattersbg{
    background:url("images/whyhisotrymatters.png") no-repeat center center;
    background-size: cover;
    min-height: 370px;
    min-width: 1470;
}
/* Typography */
h1{
    font-family: adobe-caslon-pro, serif;
    font-size: 120px;
    font-weight: bold;
}
.for{
    margin-left: 150px;
}
.history{
    margin-left: 50px;
}
/* h3 special classes */
.liveissuestitle{
    text-align: left;
    margin-left: 15%;
}
.annualtitle{
    color: white;
    text-align: center;
    margin-left: 20%;
    margin-top: 120px;
}
.albanytitle{
    color: black;
    text-align: left;
}
.whyhistorymatterstitle{
    color: white;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    padding-top: 135px;
}
/* h4 special classes */
.liveboxsubtitle{
    font-size: 32px;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
h5{
    font-family: "montserrat", sans-serif;
    font-size: 195px;
    font-weight: bolder;
    text-align: right;
    color:var(--LighterBlack);
    line-height: 170px;
    margin-top: 0.05em;
    margin-right: 0.15em;
    margin-bottom: 0.05em;
}
/* p special classes */
.livep{
    margin-left: 15%;
    color:white;
    font-size: 20px;
}
.liveboxtext{
    padding-left: 1em;
    padding-right: 2em;
    padding-top: 0.5em;
}
.annualtext{
    color:white;
    margin-left: 20%;
    margin-bottom: 5px;
}
.albanytext{
    text-align: left;
    font-size: 20px;
    padding-bottom: 5%;
}

/* ABOUT US - ??? */

/* WHAT'S ON - MEAGAN */
/* Colours */
.allycauses
{
    background-color:var(--LighterBlack);
    height: 800px;
    margin-top: 10%;
}
/* THIS IS A DUPLICATE NEED TO DOUBLE CHECK THIS ON THE whatson HTML CONSISTENCY */
/* .livebox{
    background-color:var(--Beige);
    height: 830px;
    width: 375px;
    margin-top: -200px;
} */
/* Images */
.allyimg{
    margin-top:0px;
    padding-top: 10%;
    padding-bottom: 20%;
}
.awards{
    padding-bottom: 10%;
    padding-top: 2%;
    color: white;
    margin-right: 0%;
}
/* Typography */
.awardstitle{
    padding-top: 5%;
    margin-top: 5%;
    color: white;
}
.awardsub{
    color: white;
    padding-top: 5%;
}
.text{
    padding-bottom: 5%;
}

/* LIVE ISSUES - ZARAH */

/* MEMBERSHIP MAYBE AS IF CAN BE JUST DONE ON WORDPRESS - CHET */

/* CONTACT US - THISARI */